<div id="<%= container_name %>">
  <div id="<%= container_name %>_spinner" class="sk-spinner sk-spinner-double-bounce">
    <div class="sk-double-bounce1"></div>
    <div class="sk-double-bounce2"></div>
  </div>
</div>

<% content_for :render_async do %>
  <% javascript_options = html_options[:javascript].present? ? html_options[:javascript] : {} %>
  <%= javascript_tag javascript_options do %>
   <% ajax_options = {url: path} %>
   <% ajax_options = ajax_options.merge html_options[:ajax] if html_options[:ajax].present? %>
   <% update_call = html_options[:replace].present? ? 'replaceWith' : 'html' %>
    (function($){
      $.ajax(<%=ajax_options.to_json.html_safe%>)
        .done(function(response, status) {
          $("#<%= container_name %>").<%=update_call%>(response);
          $(response).find('script').each(function() {
            var js = $(this).html();
            if (js.trim() != '') {
              $.globalEval(js);
            }
          });
        })
        .fail(function(response, status) {
          $("#<%= container_name %>").<%=update_call%>(response);
        })
        .always(function(response, status) {
          $("#<%= container_name %>_spinner").hide();
        });
    }(jQuery));
  <% end %>
<% end %>
